# This is a sandbox and often just contains coooompletely unrelated code that I might want to look at once in a while.
# It's like my cheatsheet, I guess, but also like a: don't do that again sheet.
sandbox.py